.row.padded
	.two.sixths
	.two.sixths
		%h1#assignments-title Assignments
		- @user_assignments.each do |ua|
			- ua.assignment.bookpages.each do |page|
				- if page.photos.present?
					= cl_image_tag(page.photos.first.path, { size: '600x500' })
					.row
						- if @auth
							%span Comment (click to edit)
							= best_in_place ua.comments.where(tutor_id: @auth.id).first, :comment_text, :type => :textarea, classes: 'background-gray'