#container
  .row
    = link_to 'I am a tutor', "/users/new_tutor", remote: true, :class => 'button tiny radius success'
    = link_to 'I am a tutee', "/users/new_tutee", remote: true, :class => 'button tiny radius success'
  .row
    .12.columns
      #form