.row#background_show
	.three.centered.fifths#main
		.row
			#dashboard
				#basic_info.three.fifths.pad-to
					%h1#basic_info_user_name.align-left= @user.name
				#statistics
		.main_section
			- @user.photos.tweet_created_at_asc.each do |photo|
				%row.padded.center
					= image_tag photo.url
