%section.row#hero.six.sixths
	.row#hero_inside.eight.centered.twelfths
		%p#hero_inside_large_text.double.padded 
			Teach skills to the people who need them most.
			Tutor directly and learn their story.
		%p#hero_inside_text  It starts with one phone call
		.row.three.centered.twelfths
			= link_to(new_user_path) do 
				%button.yb_button.blue.center#hero_inside_big_button 
					%p
						%i.icon-check
						Sign Up
		%p#hero_inside_link
			= link_to 'Login', new_session_path

