.container_home
	#shloka
		.homepage-header
			%h1.homepage-herotext
				Teach English to the ones who need it most
			.homepage-hero-paragraph
				%h3.pull-right It begins with one phone call.
			= link_to('auth/facebook') do 
				%button.yb_button.blue.center.pull-right
					%p Sign up
	%section.explanation
		%h3.mission_statement We're on a mission to bring education to those who need it most.  Join us.
		.calls_to_action

