%section.row#hero.six.sixths
	.row#hero_inside.eight.centered.twelfths
		%p#hero_inside_large_text.double.padded Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
		%p#hero_inside_text  Ut wisi enim ad minim veniam, quis nostrud.
		.row.three.centered.twelfths
			= link_to(new_user_path) do 
				%button.yb_button.blue.center#hero_inside_big_button 
					%p
						%i.icon-check
						Sign Up
		%p#hero_inside_link
			= link_to 'Login', new_session_path

