.container_home
	#shloka-img
		=image_tag('/assets/shlokasphoto.jpg')
	.homepage-header.row
		.one.half.mobile
		.one.half.mobile
			%h1.homepage-herotext.padded
				Teach English to the ones who need it most
			.homepage-hero-paragraph.skip-two.five.eighths.mobile
				%h3 It begins with one phone call.
			.signup_buttons.skip-two.three.sixths.mobile
				%p.big_button_paragraph
					= link_to('auth/facebook') do 
						%button.yb_button.blue
							Get started
				.signup_links
					%p
						= link_to('Sign up without facebook', new_user_path)
					%p
						= link_to('Login without facebook', new_session_path)
	%section.explanation
		%h2.mission_statement 
			%p For one hour per week during lunch, connect with the rest of the world.
	%br
	%br
	.row
		.one.sixth
		%section.explanation#home-problem.four.sixths
			.row.padded
				.two.sixths.pad-left
					%h1#home-problem-title The Problem
					.row
						%h2#home-problem-statement
							Lack of access to English learning resources
						%p 
							The poorest throughout the world need it to work and to properly assert their rights.  Yet many do not have knowledge to learn.
				.four.sixths
			%br
			.row
				.four.sixths
				.two.sixths.padded
					%h1#home-problem-title Our Solution
					.row
						%h2#home-problem-statement
							Teaching through cell phones
						%p 
							Volunteers sign up for weekly tutoring sessions facilitated through their cell phone.  At the proper time, the application calls the volunteer and then the student, and keeps track of student progress.
				%br
		.one.sixth
	%section.explanation
		%br
		%h2.mission_statement 
			%p It's your call
			%p
				= link_to('auth/facebook') do 
					%button.yb_button.blue
						Get Started
		%br
		%br
		%br
	
