.container_home
	#shloka-img
		=image_tag('/assets/shlokasphoto.jpg')
	.homepage-header.row
		.one.half.mobile
		.one.half.mobile.pad-right
			.align-right
				%h1.homepage-herotext.padded
					Teach English to the ones who need it most
				.homepage-hero-paragraph.mobile.desktop-only
					%h3 It begins with one phone call.
				.signup_buttons.mobile.pad-right
					%p.big_button_paragraph
						= link_to(new_user_path) do 
							%button.yb_button.blue
								Signup
					.signup_links
						%p
							= link_to('Login', new_session_path)
		.one.eighth
	%section.explanation
		%h2.mission_statement.pad-left.pad-right
			%p For one hour a week during lunch, connect with the rest of the world.
		%h3.mission_statement.pad-left.pad-right
			%p Students don't need Internet.  Just a phone, a book, and your call.
	.row
		.one.sixth
		%section.explanation#home-problem.four.sixths
			.row.padded
				%h1#home-problem-title.centered How it works
			.row
				.one.third.padded
					%h2 Signup
					%p Choose the weekday to teach.  Sessions are 40 minutes around lunch at 11:30am or 12:30pm.  
					.one.sixth
					.two.thirds
						=image_tag('/assets/registration.jpg')
				.one.third.padded
					%h2 Confirm
					%p Stuff happens..So before each class we ask if you're still free.  Text 'y' and it's on.
					.one.twelfth
					.five.sixths.two-up-mobile
						=image_tag('/assets/confirm.jpg')
				.one.third.padded
					%h2 We match
					%p We match you with students who have signed up for a lesson.  We preference those you taught before.
					%br
					.one.sixth
					.two.thirds
						.padded=image_tag('/assets/match.jpg')
			.row
				%h1#home-problem-title.centered They learn
				.one.third.padded
					%p You need (1) a phone with web access (or the book printed out) (2) earbuds to teach handsfree (optional).
					%br
					%br
					.one.half.three-up-mobile
						.padded=image_tag('/assets/musicplayer.png')
					.one.half.three-up-mobile
						.padded=image_tag('/assets/large_open_book.png')
				.one.third.padded
					%p Right before class, we text a link to the day's work and student bio. Text back 'go' to trigger the call. 
					%br
					.one.third
					.one.third.three-up-mobile
						=image_tag('/assets/mail-text.jpg')
				.one.third.padded
					%p Your student won't have internet, just a cell phone and a book to follow along.
					.padded=image_tag('/assets/phone_call.jpg')
		.one.sixth
	%section.explanation
		%br
		%h2.mission_statement 
			%p Signup, confirm, we match, they learn.
			%p It's your call
			%p
				= link_to(new_user_path) do 
					%button.yb_button.blue
						Get Started
		%br
		%br
		%br
	
