@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:700);

@font-face {
  font-family: 'fiver';
  src: url(font-path('five_minutes-webfont.otf')) format('opentype')
}

body {
	
}

.book-link a {
	color: white;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

#page-wrap {
	max-width: 1272px;
}

#home-problem {
	color: #0089CA;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

#home-problem-title {
	text-align: center;
}

header {
	background-color: #303030;
}

#map {
	height: 300px;
}

#map_canvas {
	width: 100%;
	height: 100%;
}

.rounded {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px; /* future proofing */
	-khtml-border-radius: 15px; /* for old Konqueror browsers */
}

.container {
	max-width: 1150px;
	margin: 0 auto;
}

.signup_buttons {
	clear: both;
}

.signup_links {
	font-size: 13px;
	p {
		margin: 0px;
	}
}

.cover-photo {
	overflow: hidden;
}

.user-info {
	color: white;
}

#main-info {
	margin-top: -125px;
}

#slogan {
	color: #e5e3e3;
	padding-left: 13px;
	font-size: 13px;
}

.user-name {
	font-size: 21px;
	font-weight: 700;
	color: white;
}

#shloka { 
  background-image: image-url('shlokasphoto.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 550px;
  width: 1272px;
  margin-bottom: 40px;

  };

 .homepage-header {
 	max-width: 980px;
 	padding: 6em 0;
 	margin: auto;
 	color: #303030;
 }

 .mission_statement {
 	color: #303030;
 	text-align: center;
 	max-width: 30em;
	margin-left: auto;
	margin-right: auto;
 }

 .homepage-herotext {
 	margin-left: auto;
 	max-width: 313px;
 	color: #303030;
 }

 .homepage-hero-paragraph{
 	margin-left: auto;
	max-width: 430px;
 }

.nav {
	border: none;
}

.explanation {
	background-color: white;
}

.homepage_button_wrapper {
		text-align: right;
		max-width: 960px;
	}

#navigation {
	background-color: #303030;
}

.apply_font {
	font-family: 'PT Sans';
}

.roboto {
	font-family: 'Roboto';	
}

#navigation a {
	border-top: 0px;
	background: none;
	color: white;
	letter-spacing: .16em;
	font-size: 13px;
	font-family: 'Roboto';	
	color: #e5e3e3;
}

#navigation li {
	border-top: 0px;
	background: none;
	color: white;
	letter-spacing: .16em;
	font-size: 22px;
}

#profile-picture {
	min-height: 200px;
}

.relative.middle.right.padded.login_user_name {
	padding-top: 15px;
}



#hero {
	height: 100%;
	background-color: rgb(221, 221, 221);
	min-height: 530px;
}

#hero_inside {
	padding-top: 4%;
	height: 100%;
	text-align: center;
	color: rgb(89, 85, 85);
}

#hero_inside_large_text {
	font-size: 1.8em;
}

#hero_inside_text {
	font-size: 1em;
	margin-bottom: 20px;
}

#hero_inside_big_button {
	text-transform: uppercase;
	margin-bottom: 20px;
	width: 400px;
}

.yb_button {
	letter-spacing: .15em;
	padding: .4em;
	margin-bottom: 10px;
	border-radius: 4px;
	font-size: 17px;
	margin: 0px 0px;
	clear: both;
}

#hero_inside_big_button p {
	margin-bottom: 0px	
}

#hero_inside_big_button a {
	text-transform: uppercase;
	letter-spacing: .15em;
	padding: .8em 1.3em;
	margin-bottom: 10px;
	font-size: 17px;	
}

#icon a
{
	background: none;
	padding-top: 15px;
}

#hero_inside_link {
	text-transform: uppercase;
	font-size: 17px;
	text-decoration: none;
	letter-spacing: .13em;
}

#hero_inside_link a {
	color: #3498db;
	letter-spacing: .13em;
	text-decoration: none;
}

.tutee_form input[type="submit"] {
    background-color: #3498db;
    color: white;
}

.tutor_form input[type="submit"] {
    background-color: #3498db;
    color: white;
}

.background-gray {
	background-color: #3498db;
}

#main {
	height: 100%;
	
}

#sidebar {
	height: 100%;
	min-height: 530px;
	background-color: lightblue;	
}

#profile_picture {
	max-width: 27%;
	height: 100%;
}

#profile_box {
	height: 85%;
}

#picture_icon {
	height: 100%;
	width: 100%;
	padding: 28%;
}

#basic_info {
	height: 100%;
}

#basic_info_user_name {
	font-size: 34px;
	margin-bottom: 0px;
	color: #838383;
}

#basic_info_profile_summary {
	min-height: 140px;
}

#user_icon {
	height: 100%;
}

#basic_info_top_level {
	height: 50%;
}

#basic_info_bottom_level {
	height: 50%;
}

#assignments-title {
	text-align: center;
}

.navigation_right_side {
	color: white;
}

.add_time_available_button a {
	text-decoration: none;
	color: white;
}

.add_time_available_button a:hover {
	text-decoration: none;
	color: white;
}