@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

.title {
    font-size: 18;
    font-weight: bold;
    font-size: 20;
    padding-bottom: 20px
}

#tutee_form {
}

#tutor_form {
  display: none;
}

.right{
  position: absolute;
  right: 35px;
}



.classes {
  padding-left: 0px
}


.username {
  display: none;
}

.top-bar ul>li:not(.name):hover {
  background: none;
}

.top-bar ul>li:not(.name) {
  font-size: 25px;
  padding-left: 12px;
}

.classrooms a:hover {
    color: rgb(242, 232, 92);
}


.label_complete {
    font-size: 10px;
    bottom: -4px;
    left: 2px;
}

.label_percent {
    font-size:10px;
    bottom: -4px;
    right: 0px;
}

.info {
  right: -85%;
  position: absolute;
  top: 10px;
  color: rgb(64, 64, 64);
  font-size: 18px;
}

#classroom_name {
  text-align: center;
  padding-top: 15px;
  font-size: 18px;
}

#assignment_list {
  padding-top: 32px;
}

#assignments{
  padding-top: 20px;
}

.hover-enter {
  color: rgb(242, 232, 92);
}

.classrooms a{
  color: rgb(64, 64, 64);
}

ul {
  list-style-type: none;
}

#analytics {
    left: 40%;
}
#live {
    left: 10%;
}

#chart {
  position: absolute;
  left: 20%;
  top: 0%;
}

.top-bar {
  background-color: rgb(64, 64, 64);
  margin-bottom: 0px;
  overflow: visible;
}

#add_student {
  position: absolute;
  right: 29%;
}

.embossed {
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -2px 0 rgba(0,0,0,.25), inset 0 -3px 0 rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -2px 0 rgba(0,0,0,.25), inset 0 -3px 0 rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -2px 0 rgba(0,0,0,.25), inset 0 -3px 0 rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.1);
}


#classbar {
    padding-top: 5px;
    width: 25%;
    margin-right: auto;
    background: none;
    border-bottom: 2px solid #404040;
}

.top-bar ul>li a:not(.button) {
  border: none;
  background: none;
}

.top-bar ul {
    height: 0%;
    /* height: 0%; */
}

#class_list {
  padding-top: 67px;
    position: absolute;
    left: 15px;
}

.chart rect {
  stroke: white;
  fill: steelblue;
}

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override height later */
    background-color: teal;
}


.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override height later */
    background-color: blue;
}

.chart div {
  font: 10px sans-serif;
  background-color: blue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}


body
{
background-color: rgb(217, 217, 217);
}


nav {
  color: white;
}

dl.vertical.four.columns {
  width: 100px;
  border: line solid black;
}

#percent_correct {
  padding: 22px 0px;
  width: 80px
}

#number_completed{
  padding: 40px 0px;
  width: 80px
}

.camera {
  max-height: 12px;
}

.charticon {
    max-height: 12px;
}

.row {
  margin-left: 0px;
}

.row.sorting{
  font-family: lucida;
  color: #1a1a1a;
  font-size: 13px;
}

#chart{
  width: 450px;
  height: 300px;
  position: top;
  top: 25px;
  right: 200px;
  position: absolute;
  // display: none;
}

#navbar{
  position: absolute;
  bottom: 20px;
  padding: 10px;
  background-color: rgba(17, 17, 17, 0.9);
}

.name:hover, .rest li:hover
{
  background: transparent !important;
  color: red !important;
}

.name a {
  color: white;
  padding-left: 50px;
  padding-right: 80px;
  font-size: 12px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding-top: 3px;
  border: 1px solid black;
  text-align: center;
  background-color: rgb(64, 64, 64)
}

.element .name {
  width: 0px;
  height: 0px;
  padding: 0px;
}

.rest {
  color: white;
  font-size: 30px;
  padding-left: 10px;
  font-family: 'Open Sans', sans-serif;
}

#navbar ul > li {
  float: left;
  padding-left: 20px;
}

#mybody { 
  background: url(home/Homepage.jpg) no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#front{
  margin: 0px;
  width: 100%;
}

#headerWrapper {
  bottom: 15px;
  position: absolute;
  z-index: 999;
  background-color: rgba(17, 17, 17, 0.9);
  width: 100%;
  padding: 30px 35px;
}

#user
{
  position: relative;
  top: 35px;
}

#login_form {
  width: 300px;
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 10px;
  background-color: rgba(17, 17, 17, 0.9);
  z-index: 999;
  display: none;
}



#cancel_btn {
  padding-left: -100px
}

#register_form {
  width: 300px;
  position: absolute;
  left: 30px;
  top: 30px;
  padding: 30px;
  background-color: rgba(17, 17, 17, 0.9);
  z-index: 999;
  display: none;
}

#navbuttons {
  margin: 0px;
}

#inputter {
  padding-left: 40px;
}

#login_btn_nav {
  position: relative;
  right: 0;
}

.login_form label {
  color: #fff;
}



body {
  padding-top: 0px;
  height: 100%
}

.up {
  width: 400px;
  height: auto;
}

form {
  width: 80%;
}

.green{
  background-color: #70E878;
}

.red {
  background-color: #FF5B5B;
}

.yellow {
  background-color: #FFE96B;
}

.inactive {
  background-color: gray;
  border: black;
  color: black;
}

.default_color {
  background-color: #888;
}

dl.vertical.tabs.two.columns dd a{
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: center;
}

#grid{
  padding-left: 5%;
}

#simpleContained1Tab{
  overflow: auto;
  min-height: 485px;
  border: none;
  padding-left: 0px;
}

.passed{
  background-color: rgb(112, 232, 203);
}



.panel{
  text-align: center;
  height: 150px;
  overflow: auto;
}

.topic{
  display: none;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 3px #ccc;
  -webkit-box-shadow: 3px 3px 5px 3px #ccc;
  box-shadow:         3px 3px 5px 3px #ccc;
}




/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* required for containers to inherit vertical size from window */
html {
  height: 100%;
}



#container {
  padding: 5px;
  margin-bottom: 20px;
  height: 80%;
  min-height: 300px;
}

#available_assignments {
  height: 400px;
  background: rgb(64, 64, 64);
  text-align: center;
  padding: 10px;
  color: white;
}

#current_assignments {
  height: 400px;
  background: rgb(64, 64, 64);
  color: white;
  text-align: center;
  padding: 10px;
}

.element * {
  position: absolute;
  margin: 0;
  padding: 5px;
}




.variable-sizes .element.width2 { width: 230px; }

.variable-sizes .element.height2 { height: 230px; }

.variable-sizes .element.width2.height2 {
  font-size: 2.0em;
}

.element.large,
.variable-sizes .element.large,
.variable-sizes .element.large.width2.height2 {
  font-size: 3.0em;
  width: 350px;
  height: 350px;
  z-index: 100;
}

.clickable .element:hover {
  cursor: pointer;
}

.clickable .element:hover h3 {
  text-shadow:
    0 0 10px white,
    0 0 10px white
  ;
}

.clickable .element:hover h2 {
  color: white;
}

.element .subheader {
  left: 0.5em;
  bottom: 1.6em;
  font-size: 1.05em;
}

.element .number_complete {
  font-size: 0.8em;
  left: 0.2em;
  bottom: .6em;
}

.element .percentage_correct {
  bottom: .6em;
  font-size: 0.8em;
  right: 0.2em;
}

.element .symbol {
  margin: auto;
  padding-top: 10%;
  font-size: 1.8em;
  line-height: 1.0em;
  color: #FFF;
}
.element.large .symbol {
  padding-top: none;
  font-size: 4.5em;
}

.element.fake .symbol {
  color: #000;
}

.element .lecture_name {
  top: 2em;
  font-size: 10px;
  padding-top: 4px;
  margin: 0px;
  text-align: center;
  width: 100%;
}



