@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

.top-bar ul>li:not(.name):hover {
  background: none;
}

#navbar ul > li {
  float: left;
  padding-left: 20px;
}

#navbar{
  position: absolute;
  bottom: 20px;
  padding: 10px;
  background-color: rgba(17, 17, 17, 0.9);
}

#login_btn_nav {
  position: relative;
  right: 0;
}

#register_form {
  width: 300px;
  position: absolute;
  left: 30px;
  top: 30px;
  padding: 30px;
  background-color: rgba(17, 17, 17, 0.9);
  z-index: 999;
  display: none;
}

#cancel_btn {
  padding-left: -100px
}

.title {
    font-size: 18;
    font-weight: bold;
    font-size: 20;
    padding-bottom: 20px
}

.right{
  position: absolute;
  right: 35px;
}



.top-bar ul>li:not(.name):hover {
  background: none;
}

.top-bar ul>li:not(.name) {
  font-size: 25px;
  padding-left: 12px;
  height: 0%;
}

ul {
  list-style-type: none;
}

#chart {
  position: absolute;
  left: 20%;
  top: 0%;
}

.top-bar {
  background-color: rgb(64, 64, 64);
  margin-bottom: 0px;
}

.embossed {
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -2px 0 rgba(0,0,0,.25), inset 0 -3px 0 rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -2px 0 rgba(0,0,0,.25), inset 0 -3px 0 rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -2px 0 rgba(0,0,0,.25), inset 0 -3px 0 rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.1);
}

dl.vertical.four.columns {
  width: 100px;
  border: line solid black;
}


.tiny.button.round {
  background-color: rgb(255, 91, 91);
  color: black;
  border: none;
}

.row {
  margin-left: 0px;
}

#navbar{
  position: absolute;
  bottom: 20px;
  padding: 10px;
  background-color: rgba(17, 17, 17, 0.9);
}

.rest {
  color: white;
  font-size: 30px;
  padding-left: 10px;
  font-family: 'Open Sans', sans-serif;
}

#navbar ul > li {
  float: left;
  padding-left: 20px;
}

#mybody {
  background: url(home/Homepage.jpg) no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#front{
  margin: 0px;
  width: 100%;
}

#headerWrapper {
  bottom: 15px;
  position: absolute;
  z-index: 999;
  background-color: rgba(17, 17, 17, 0.9);
  width: 100%;
  padding: 30px 35px;
}

#login_form {
  width: 300px;
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 10px;
  background-color: rgba(17, 17, 17, 0.9);
  z-index: 999;
  display: none;
}

#cancel_btn {
  padding-left: -100px
}

#register_form {
  width: 300px;
  position: absolute;
  left: 30px;
  top: 30px;
  padding: 30px;
  background-color: rgba(17, 17, 17, 0.9);
  z-index: 999;
  display: none;
}

#login_btn_nav {
  position: relative;
  right: 0;
}

.login_form label {
  color: #fff;
}

body {
  padding-top: 0px;
  height: 100%
}

.up {
  width: 400px;
  height: auto;
}

form {
  width: 80%;
}

.green{
  background-color: #70E878;
}

.red {
  background-color: #FF5B5B;
}

.yellow {
  background-color: #FFE96B;
}

.default_color {
  background-color: #888;
}

dl.vertical.tabs.two.columns dd a{
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: center;
}

#grid{
  padding-left: 5%;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 3px #ccc;
  -webkit-box-shadow: 3px 3px 5px 3px #ccc;
  box-shadow:         3px 3px 5px 3px #ccc;
}






