// GroundworkCSS 2 Documentation

$root_path:      "/assets/";
$images_path:    asset-path("", image);
$fonts_path:     "groundworkcss/";
$boxsizing_path: asset-path("groundworkcss/libs/boxsizing.htc", javascript);
$PIE_path:       asset-path("groundworkcss/libs/PIE.htc", javascript);
@import 'groundworkcss/groundwork';
@import 'groundworkcss/demo/jquery.snippet';
@import 'groundworkcss/demo/groundworkdocs';
