%header
	%nav.nav.double.padded#navigation
		.container
			%ul
				.pull-left
					%li#icon= link_to 'Yakbat', root_path
				.pull-right
					%li= link_to 'Sign Up', new_user_path, id: 'register_btn'
					%li= link_to 'Login', signin_path, remote: true, id: 'login_btn'